* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header */
.head-cont {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex: 0.25;
}

/* Content (scoreboard and buttons) */
.content-cont {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  flex: 1;
}

/* Scoreboard */
.scoreboard {
  background-color: white;
  flex: 0.2 0;
  min-width: 100%;

  display: flex;
  flex-direction: column;
}

.score-header{
  text-align: center;
  margin-top: 40px;
}

/* Counters */
.counter-wrapper{
  /* background-color: yellow; */
  display: flex;
  flex:1 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

.counter-bx{
  background-color: darkblue;
  border: solid black 5px;

  height: 150px;
  width: 150px;
}

.flash-box{
  width: 400px;
}

/* Game buttons */
.button-container {
  background-color: green;
  flex: 1 0;
  min-width: 100%;

display: flex;  
align-items: center;
justify-content: space-evenly;
}

.game-button{

  height: 500px;
  width: 500px;
}

/* Footer */
.footer {
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex: 0.05;
}
